body{
     max-width:100%;
     height:560;
     padding: 20px 20px;
}
 .content{
     max-width: 100%;
     height: auto;
     padding: 10px;
}
 .background{
     background:#ffffff;
     background-image:-webkit-linear-gradient(top, #ffffff, #ebebeb);
     background-image:-moz-linear-gradient(top, #ffffff, #ebebeb);
     background-image:-ms-linear-gradient(top, #ffffff, #ebebeb);
     background-image:-o-linear-gradient(top, #ffffff, #ebebeb);
     background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
}
 .navigationMenu{
     width:40%;
     height:100px;
     margin:30px 30%;
     display: inline-block;
}
 .dinamycContent{
     max-width:100%;
     height:400px;
     margin:auto 20%;
}
 .dinamycContent div{
     display:inline-block;
}
 .dinamycContent div input{
     background-color:transparent;
     width:60px;
     margin-left:58px;
     margin-right:auto;
}
 .font36{
     font-size:36px !important;
     color:#000000 !important;
}
 .randomButton{
     margin:10px 21px;
}
 .dynamicbox{
     width:60px;
     height 60px;
     margin:15px 20px;
     -webkit-border-radius:5;
     -moz-border-radius:5;
     border-radius:5px;
     -webkit-box-shadow: 0px 0px 9px #666666;
     -moz-box-shadow: 0px 0px 9px #666666;
     box-shadow: 0px 0px 9px #666666;
     font-family: arial;
     color:#000000;
     font-size:36px;
     padding: 40px 40px;
     border: solid #8f8f8f 1px;
     text-decoration: none;
     text-align:center;
}
 .dynamicbox div:first-child {
     margin-right:auto;
     margin-left: auto;
}
 .dynamicbox div:last-child{
     color:#b1b1b1;
     font-size:14px;
}
 .navigationMenu div{
     padding:10px 30px;
     display: inline-block;
}
 button{
     width:140px;
     background:#ffffff;
     webkit-border-radius:5;
     -moz-border-radius:5;
     border-radius:5px;
     -webkit-box-shadow: 0px 0px 9px #666666;
     -moz-box-shadow: 0px 0px 9px #666666;
     box-shadow: 0px 0px 9px #666666;
     font-family: arial;
     color:#000000;
     font-size:12px;
     padding: 10px 20px;
     border: solid #8f8f8f 1px;
     text-decoration: none;
}
 button:hover{
     background:#dedede;
     background-image:-webkit-linear-gradient(top, #dedede, #bdbdbd);
     background-image:-moz-linear-gradient(top, #dedede, #bdbdbd);
     background-image:-ms-linear-gradient(top, #dedede, #bdbdbd);
     background-image:-o-linear-gradient(top, #dedede, #bdbdbd);
     background-image: linear-gradient(to bottom, #dedede, #bdbdbd);
     text-decoration:none;
}
 .dinamycContent #startCountDown{
     padding: 40px 303px;
}
